nav {
  background-color: black;
  position: fixed;
  top: 0;
}

li {
  list-style-type: none;
  display: inline;
  text-align: center;
  color: white;
}

body {
  background-color: rgba(203, 207, 217, 0.64);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

label {
  display: block;
}
