nav {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: white;
}

a:visited { 
  color: white;
}

a:hover {
  color: red;
}

body {
  background-color: rgba(203, 207, 217, 0.64);
}

section {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

label {
  display: block;
}
